<h3 mat-dialog-title>
    Detail Data Diri
</h3>
 <div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nama</mat-label>
        <input matInput [(ngModel)]="data.title">      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Fakultas</mat-label>
        <input matInput [(ngModel)]="data.author">     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Prodi</mat-label>
        <input matInput [(ngModel)]="data.publisher">     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>NIM</mat-label>
        <input matInput [(ngModel)]="data.isbn">     
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Angkatan</mat-label>
        <input matInput type="number" [(ngModel)]="data.year">      
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Tahun Pembuatan</mat-label>
        <input matInput type="number" [(ngModel)]="data.price">      
    </mat-form-field>
 </div>
 <div mat-dialog-actions align="end">
 <button mat-button mat-dialog-close>Batal</button>
 <button mat-flat-button (click)="saveData()" [disabled]="loading">{{loading ? 'Menyimpan..':'Simpan'}}</button>
 </div>
 
 