<mat-toolbar color="warn">
<marquee>SELAMAT DATANG DI APLIKASI CORETAN MAHASISWA</marquee>
</mat-toolbar>

<div class="content">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
    <mat-card-title>Apa itu Coretan Mahasiswa?</mat-card-title>
    Coretan Mahasiswa adalah sebuah aplikasi web yang dapat digunakan oleh mahasiswa yang memuat data diri untuk pembuatan kartu anggota perpustakaan dan peminjaman buku di perpustakaan kampus
    </mat-card-header>

    <mat-card-header>
      <mat-card-title>Fitur Coretan Mahasiswa</mat-card-title>
      <details>
        <summary>Lihat Selengkapnya</summary>
        <p>1. Profile</p>
        <p>2. Folder</p>
      </details>
    </mat-card-header>
    
    <mat-card-header>
    <mat-card-title>Prosedur Pembuatan Kartu Anggota Perpustakaan</mat-card-title>
    <details>
      <summary>Lihat Selengkapnya</summary>
      <p>1. Berstatus sebagai mahasiswa aktif di kampus</p>
      <p>2. Memiliki KTM (Kartu Tanda Mahasiswa)</p>
      <p>3. Mengisi data diri melalui aplikasi web Coretan Mahasiswa</p>
    </details>
    </mat-card-header>

    <mat-card-header>
      <article>
        <h2>Fitur Coretan Mahasiswa</h2>
        <details>
          <summary>Lihat Selengkapnya</summary>
          Coretan Mahasiswa: Memiliki fitur Folder
        </details>
      </article>
    </mat-card-header>
  
    </mat-card>
  </div>